<div ng-include="'tpl/header.html'"></div>
<div class="container">
  <div class="form-group has-feedback">
    <input ng-model="kw" class="form-control" type="text" placeholder="搜索菜品名称和原料...">
    <span class="glyphicon glyphicon-search form-control-feedback sty"></span>
  </div>

  <div class="list-group">
    <a href="#/detail/{{dish.did}}" class="list-group-item" ng-repeat="dish in dishList">
      <div class="media">
        <div class="media-left media-middle">
          <img class="media-object" ng-src="img/{{dish.img_sm}}" alt="">
        </div>
        <div class="media-body">
          <h4>{{dish.name}}</h4>
          <p>主要食料{{dish.material}}</p>
          <div class="span">价格：{{dish.price | currency : '￥'}}</div>
        </div>
      </div>
    </a>
  </div>
  <button ng-show="hasMore" class="btn btn-success btn-block " ng-click="loadMore()">加载更多</button>
  <div ng-hide="hasMore" class="alter alert-danger btnbum">
    <span class="glyphicon glyphicon-alert"></span>
    已经没有更多数据可供加载了！
  </div>
</div>
<br>
<br>
<br>
<div ng-include="'tpl/footer.html'"></div>